@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7F6FF;
}

input {
  &:hover {
    outline: none;
  }

  &:focus {
    outline: none;
  }
}

.card {
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  border-radius: 40px;
  width: 210px;
}